.drag {
    border: 1px dashed #6f6f6f;
    height: 104px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



h6 {
    font-family: 'MetaPro', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: #3C3C3C;
    padding-top: 100px;
}

.save {
    padding: 40px;
}

.ant-modal-content {
    border-radius: 18px;
}

