h1 {
    font-family: 'MetaPro', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #038618 !important;
    padding-top: 25px;
}

.btn {
    font-family: 'MetaPro', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: #038618;
    padding-left: 0;
    padding-bottom: 25px;
}

input.ant-select-selection-search-input{
    height: 62px
}
/* 
.upload p {
    text-align: left;
    font-family: 'MetaPro', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: #038618;
} */ 